* {
    margin:0 0;
    padding: 0 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    font-family: sans-serif;
}

section.container-menus {
    height: auto;
    width: 100%;

    display: grid;
    grid-template-rows: 80px 0.95fr 130px;
}

header.header-menu {
    display: grid;
    grid-template-rows: 1fr;

    background-color: #fff;
    /* position: fixed;
    z-index: 1; */
    width: 100%;
    /* height: 70px; */
}

header.header-menu nav.header-nav {
    display: grid;
    grid-template-columns: 0.7fr 0.3fr;
    grid-gap: 20px;
    align-items: center;
    justify-items: start;
}

ul.header-ul-1 {
    display: grid;
    grid-template-columns: 0.25fr 0.25fr 0.25fr 0.25fr;
    grid-gap: 25px;

    padding-left: 35px;
}

ul.header-ul-1 li {
    color: #1d2f55;
    font-size: 18px;
    font-weight: 600;
}

ul.header-ul-2 {
    display: grid;
    grid-template-columns: 0.33fr 0.33fr 0.33fr;
    grid-gap: 35px;
    justify-self: end;

    padding-right: 35px;
}

ul.header-ul-2 li {
    color: #1d2f55;
}

main.main-menu {
    width: 100%;
    background-color: #f1f1f6;

    display: grid;
    grid-template-rows: 0.05fr 0.95fr;
    grid-gap: 20px;
}

.store-items-wrapper {
    display: grid;
    grid-template-columns: 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr;
    grid-gap: 70px 10px;

    padding-left: 35px;
}

.main-header {
    padding-left: 35px;
    padding-top: 40px;
}

.store-item {
    /* height: 250px; */
    display: grid;
    grid-template: 
    "img img" 0.55fr
    "h2 h2" 0.2fr
    "span-1 span-2" 0.05fr 
    "button button" 0.1fr 
    "span-3 span-4" 0.1fr /
    0.5fr 0.5fr;

    grid-gap: 10px;
}

.store-item img {
    grid-area: img;
    /* width: 100%; */
    width: 200px;
    height: 250px;
}

.store-item button {
    grid-area: button;
    padding: 10px;
    color: #fff;
    background-color: #c22048;
    outline: none;
    border: none;
    cursor: pointer;
}

.store-item button:hover {
    color: rgb(14, 13, 13);
    background-color: #c0b3b6;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

.store-item span.span-3 {
    grid-area: span-3;
    font-size: 14px;
    font-weight: 700;
}

.store-item span.span-4 {
    grid-area: span-4;
    font-size: 14px;
    font-weight: 700;
}

.store-item h2 {
    grid-area: h2;
    color: #11192a;
    font-size: 18px;
}

.store-item span.span-1 {
    grid-area: span-1;
    color: #95848a;
    font-size: 16px;
    font-weight: 700;
    text-decoration: line-through;
}

.store-item span.span-2 {
    grid-area: span-2;
    color: #c22048;
    font-size: 16px;
    font-weight: 700;
}

footer.footer-menu {
    width: 100%;
    background-color: #1d2f55;

    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    align-items: center;
    justify-items: start;
}

ul.footer-ul-1 {
    display: grid;
    grid-template-columns: 1fr;
    padding-left: 35px;
}

footer ul li {
    font-weight: 700;
    color: #fff;
    font-size: 18px;
}

ul.footer-ul-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-self: end;
    padding-right: 35px;
}

header.header-menu button {
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.modal-container {
    height: 100vh;
    width: 100%;
    pointer-events: none;
    position: fixed;
    display: none;
}

.modal-container.show {
    pointer-events: auto;
    display: grid;
    grid-template-rows: 1fr;
    place-items: center;
    opacity: 1;
    background-color: rgba(230, 90, 50, 0.3);
}

.modal {
    display: grid;
    grid-template: 
    "button-modal" 30px
    "input-modal" 100px /
    0.9fr 0.1fr;
    grid-gap: 20px;
    background-color: hsl(240, 22%, 95%);
    height: 250px;
    width: 500px;
    place-content: center;
}

.modal input {
    font-size: 16px;
    outline: none;
    border: none;
    height: 30px;
}

.modal button {
    padding: 10px 10px;
    background-color: #c22048;
    color: #fff;
    border: none;
    outline: none;
}

.modal .header-search {
    grid-area: button-modal;
    display: grid;
    grid-template-columns: 0.9fr 0.1fr;
    place-items: center;
    grid-gap: 15px;
}

.modal .input-search-wrapper {
    grid-area: input-modal;
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    /* grid-gap: 15px; */
}


.modal-container-2 {
    height: 100vh;
    width: 100%;
    pointer-events: none;
    position: fixed;
    display: none;
}

.modal-container-2.show {
    pointer-events: auto;
    display: grid;
    grid-template-rows: 1fr;
    place-items: center;
    opacity: 1;
    background-color: rgba(230, 90, 50, 0.3);
}


.modal-2 {
    display: grid;
    grid-template-rows: 0.1fr 0.5fr 30px;
    grid-gap: 10px;
    background-color: #f1f1f6;
    height: 250px;
    width: 500px;
    place-content: center;
}

.modal-2 form {
    display: grid;
    grid-template-rows: 0.5fr 0.5fr;
    grid-gap: 30px;
}

.modal-2 input {
    height: 50px;
    outline: none;
    border: none;
    font-size: 18px;
}

.modal-2 button {
    color: #fff;
    background-color: #c22048;
    padding: 15px 15px;
    border: none;
    outline: none;
    font-size: 16px;
}
.modal-2 .header-user-modal {
    display: grid;
    place-items: center;
}

.modal-2 .input-user-modal {
    display: grid;
    grid-template: 
    "span-user-1 email-input-user" 30px
    "span-user-2 password-input-user" 30px /
    0.2fr 0.8fr;
    grid-gap: 20px;
    align-items: center;
    
}

.modal-2 .input-user-modal .span-user-1 {
    grid-area: span-user-1;
}

.modal-2 .input-user-modal .span-user-2 {
    grid-area: span-user-2;
}

.modal-2 .input-user-modal .email-input-user {
    grid-area: email-input-user;
}

.modal-2 .input-user-modal .password-input-user {
    grid-area: password-input-user;
}

.modal-2 .button-user-modal {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    place-items: center;
}

.modal-container-3 {
    height: 100vh;
    width: 100%;
    pointer-events: none;
    position: fixed;
    display: none;
}

.modal-container-3.show {
    pointer-events: auto;
    display: grid;
    grid-template-rows: 1fr;
    place-items: center;
    opacity: 1;
    background-color: rgba(230, 90, 50, 0.3);
}


.modal-3 {
    display: grid;
    grid-template-rows: 1fr;
    grid-gap: 20px;
    height: 500px;
    width: 800px;
    background-color: #f1f1f6;
    place-items: center;
}

.modal-wrapper-3 {
    display: grid;
    grid-template-rows: 0.1fr 0.5fr 50px;
    grid-gap: 20px;
    place-items: center;
}

.modal-3 .header-bag {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    padding-top: 50px;
}

.modal-3 .item-bag {
    display: grid;
    grid-template:
    "img-item-bag h4-item-bag h4-item-bag h4-item-bag" 50px
    "img-item-bag span-1-item-bag span-2-item-bag span-3-item-bag" 50px
    "img-item-bag button-item-bag button-item-bag button-item-bag" 50px /
    150px 50px 50px 50px ;
    /* align-items: center; */
}

.item-bag img {
    grid-area: img-item-bag;
    height: 100px;
}

.item-bag h4 {
    grid-area: h4-item-bag;
}

.item-bag .span-1-bag {
    grid-area: span-1-item-bag;
}

.item-bag .span-2-bag {
    grid-area: span-2-item-bag;
}

.item-bag .span-3-bag {
    grid-area: span-3-item-bag;
}

.item-bag button {
    grid-area: button-item-bag;
}

.modal-3 .removing-bag {
    display: grid;
    grid-template-columns: 200px 35px;
    place-items: center;
}

span.span-user-login {
    display: none;
}

span.span-user-login.show {
    display: inline-block;
    color: #1d2f55;
}