<body>

    <section class="container-menus">

        <header class="header-menu">

            <nav class="header-nav">

                <ul class="header-ul-1">
                    <li><a href='#'>HOLLIXTON</a></li> 
                    <li><a href='#'>Girls</a></li>
                    <li><a href='#'>Guys</a></li>
                    <li><a href='#'>Sales</a></li>
                </ul>

                <ul class="header-ul-2">

                    <li>
                        <img src="./assets/icons/search.png" alt="">
                    </li>

                    <li>
                        <img src="./assets/icons/user.png" alt="">
                    </li>

                    <li>
                        <img src="./assets/icons/shopping-bag.png" alt="">
                    </li>

                </ul>

            </nav>

        </header>

<!------------------------------------------------------------------------>
        <main class="main-menu">

            <div class="main-header">
                <h2 class="h2-main">Home</h2>
            </div>

            <div class="store-items-wrapper">

                <div class="store-item">

                    <img src="https://img.hollisterco.com/is/image/anf/KIC_359-1220-1911-805_prod1?policy=product-small" alt="">
                    <h2>Shirt</h2>
                    <span id="span-1">50$</span>
                    <span id="span-2">30$</span>

                </div>

            </div>

        </main>

<!------------------------------------------------------------------------------->
        <footer class="footer-menu">
            
            <ul class="footer-ul-1">
                <li>HOLLIXTON</li>
            </ul>

            <ul class="footer-ul-2">
                <li>GB</li>
                <li>United Kingdom</li>
            </ul>
            
        </footer>

    </section>

</body>